@tailwind base;

body {
  @apply bg-black text-gray-100 m-0 font-mono antialiased;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-gray-500 transition duration-150;
}
a:hover {
  @apply text-gray-300;
}

button {
  @apply bg-gray-600 px-2 py-1 rounded text-white transition duration-150;
}

button:focus {
  @apply outline-none shadow-outline;
}

button:hover {
  @apply bg-gray-400 text-gray-800;
}

button:active {
  @apply bg-gray-800;
}


@tailwind components;

@tailwind utilities;
